*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  color: #60424c;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .container > * {
    padding: 10px;
    font-size: 3rem; }

.header {
  background-color: chartreuse;
  grid-column: full-start / col-end 6; }

.sidebar {
  background-color: cornflowerblue;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1/-1; }

.footer {
  background-color: black;
  grid-column: full-start / full-end; }

.cars {
  background-color: antiquewhite;
  grid-column: center-start / center-end; }

.features {
  background-color: aqua;
  grid-column: center-start / center-end; }

.gallery {
  background-color: brown;
  grid-column: full-start / full-end; }

.story__pictures {
  background-color: darkseagreen;
  grid-column: full-start / col-end 4; }

.story__contents {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end; }

.vendors {
  background-color: gray;
  grid-column: col-start 7 / full-end; }
